.hero__section {
  .hero__background {
    position: absolute;
    width: 1599px;
    height: 769px;
    left: 321px;
    top: 0px;

    background: rgba(167, 139, 250, 0.7);
    mix-blend-mode: normal;
    opacity: 0.22;
  }
}
