.hero__navbar {
  li {
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: 6.33143px;
    list-style: none;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    &:hover {
      color: #a78bfa;
    }
  }
  min-height: 10vh;
  .row {
    min-height: 10vh;
    .nav-links {
      height: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  }
}
.burger-hero__navbar {
  li {
    font-size: 2.7rem;
    font-weight: 500;
    letter-spacing: 6.33143px;
    list-style: none;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    padding: 3rem 0rem;
    cursor: pointer;
    &:hover {
      color: #a78bfa;
    }
  }
  clip-path: circle(50px at 0% -10%);
  -webkit-clip-path: circle(50px at 0% -10%);
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #a78bfa;
  min-height: 10vh;
  .row {
    min-height: 10vh;
    .burger-nav-links {
      height: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: column;
    }
  }
}

.shadow {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.burger {
  opacity: 1;
  cursor: pointer;
  position: absolute;
  top: 2.5%;
  left: 80%;
  z-index: 10;
  display: none;
}

.line1,
.line2 {
  width: 4.5rem;
  height: 0.2rem;
  margin: 1rem;
  background: black;
  pointer-events: none;
}

// .buger-hero__navbar {
//   min-height: 5vh;
//   min-width: 50vh;
//   z-index: 2;
//   font-size: 3.6rem;
//   position: absolute;
//   top: 0;
//   left: 50%;
//   transform: translate(-50%, 0%);
//   .burger-nav-links {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     flex-direction: row;
//     border-bottom: 2px solid white;
//   }
//   min-height: 10vh;
//   position: fixed;
//   top: 0;
//   left: 0;
//   transform: translate(0%, 0%);
//   width: 100%;
//   height: 100%;
//   background: #a78bfa;
//   .burger-nav-links {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     flex-direction: row;
//     min-height: 100vh;
//   }
//   z-index: 1;
//   opacity: 1;
// }
@media screen and (max-width: 768px) {
  .burger {
    display: block;
  }

  .hero__navbar {
    .row {
      display: none;
    }
  }
}
