<section class="projects__section">
  <div class="row title__row">
    <div class="col-2 title__sect">
      <h1>Projects</h1>
    </div>
    <div class="col-2"></div>
  </div>
  <div class="row projects__rows">
    <div class="col-2 project__image"></div>
    <div class="col-2 project__desc">
      <h1>Sample 1</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, nemo
        consequatur maxime magnam corrupti numquam sed dolorem iste odit,
        architecto quia nihil facilis commodi animi suscipit dolore rem
        provident possimus.
      </p>
    </div>
  </div>
  <div class="row projects__rows">
    <div class="col-2 project__desc">
      <h1>Sample 2</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, nemo
        consequatur maxime magnam corrupti numquam sed dolorem iste odit,
        architecto quia nihil facilis commodi animi suscipit dolore rem
        provident possimus.
      </p>
    </div>
    <div class="col-2 project__image"></div>
  </div>
  <div class="row projects__rows">
    <div class="col-2 project__image"></div>
    <div class="col-2 project__desc">
      <h1>Sample 3</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, nemo
        consequatur maxime magnam corrupti numquam sed dolorem iste odit,
        architecto quia nihil facilis commodi animi suscipit dolore rem
        provident possimus.
      </p>
    </div>
  </div>
  <h2 class="other-projects">
    Other projects are on my <span class="gh-link">GitHub profile</span>
  </h2>
</section>
